<form method="post" action="{% url 'register_youth' activity.pk %}" class="js-booking-youth-form" novalidate>
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Register for activity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% include 'contacts/includes/partial_contact_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-dark btn-block confirm-register">REGISTER&nbsp;&nbsp;<i class="fas fa-sync fa-spin loading" style="display:none;"></i></button>
    </div>
</form>