<form method="post" action="{% url 'register_youth' activity.pk %}" class="js-booking-youth-form" novalidate>
    {% csrf_token %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-header no-border" style="padding-right:0;">
        <h4 class="modal-title" style="font-size:23px;">Register for activity</h4>
    </div>
    <div class="modal-body">
        {% include 'booking/includes/partial_booking_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-green btn-block btn-lg confirm-register">Register&nbsp;&nbsp;<i class="fas fa-sync fa-spin loading" style="display:none;"></i></button>
    </div>
</form>