<form method="post" action="{% url 'register_client' activity.pk %}" class="js-booking-form" novalidate>
    {% csrf_token %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-header no-border">
        <h4 class="modal-title">Add new attendee</h4>
    </div>
    <div class="modal-body">
        {% include 'booking/includes/partial_booking_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-green btn-lg btn-block">Register&nbsp;&nbsp;<i class="fas fa-sync fa-spin loading" style="display:none;"></i></button>
    </div>
</form>