{% for member in email_members %}
    <tr>
    <td>{{ member.first_name }}&nbsp;{{ member.last_name }}</td>
    <td style="text-align:center;">{{ member.mobile }}</td>
    <td style="text-align:center;">{{ member.email }}</td>
    <td style="text-align:center;">{{ member.gender }}</td>
    <td style="text-align:center;">{{ member.age }}</td>
    <td style="text-align:center;">{{ member.language }}</td>
    <td style="text-align:center;">
        <div class="row justify-content-center">
        <button type="button"
                class="btn btn-grey btn-sm js-update-email-member mr-2 mt-1 mb-1"
                data-url="{% url 'email_member_update' member.id %}">EDIT
        </button>
        <a class="share-activities-btn-contacts-sms btn btn-sm btn-grey mr-2 mt-1 mb-1" 
            data-url="{% url 'share_activities_contacts_sms' member.id %}"
            href="#" role="button" aria-haspopup="true" aria-expanded="false">SMS</a>
        <a class="share-activities-btn-contacts btn btn-sm btn-grey mr-2 mt-1 mb-1" 
        data-url="{% url 'share_activities_contacts' member.id %}"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">EMAIL</a>
        <button type="button"
                class="btn btn-danger btn-sm js-delete-email-member mt-1 mb-1"
                data-url="{% url 'email_member_delete' member.id %}">DELETE
        </button>
        </div>
    </td>
    </tr>
{% empty %}
    <tr>
    <td colspan="7" class="text-center">No member yet</td>
    </tr>
{% endfor %}