{% for sms_member in sms_members %}
    <tr>
    <!-- <td>{{ sms_member.group }}</td> -->
    <td>{{ sms_member.name }}</td>
    <td>{{ sms_member.mobile }}</td>
    <td>
        <!-- <button type="button"
                class="btn btn-warning btn-sm js-update-sms-member"
                data-url="{% url 'sms_member_update' sms_member.id %}">Edit
        </button> -->
        <button type="button"
                class="btn btn-danger btn-sm js-delete-sms-member"
                data-url="{% url 'sms_member_delete' sms_member.id %}"><i class="far fa-trash-alt"></i>
        </button>
    </td>
    </tr>
{% empty %}
    <tr>
    <td colspan="7" class="text-center bg-warning">No member yet</td>
    </tr>
{% endfor %}