{% load static %}

<table class="table" id="contact-table" style="width:100%;">
    <thead>
    <tr>
        <th style="text-align:left;">Name</th>
        <th>#</th>
        <th>Created</th>
        <th width="400px;">Actions</th>
    </tr>
    </thead>
    <tbody>
{% for group in groups %}
    <tr>
    <td><a href="{% url 'contact_list' group.pk %}">{{ group.name }}</a></td>
    <td style="text-align:center;">{{ group.members.count }}</td>
    <td style="text-align:center;">{{ group.created_time|date:'d/m/y' }}</td>
    <td style="text-align:center;">
    <div class="row justify-content-center">
    <div class="offset-1 col-2">
    <a class="js-update-email-group mt-1 mb-1 mr-4"
        data-url="{% url 'email_group_update' group.id %}"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="{% static 'img/icons/edit.svg' %}" style="width:38px;"></a></div>
    <div class="offset-1 col-2">
    <a class="copy-group-btn mr-4 mt-1 mb-1"
        data-url="{% url 'group_copy' group.id %}"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="{% static 'img/icons/copy.svg' %}" style="width:38px;"></a></div>
    <div class="offset-1 col-2">
    <a class="js-delete-email-group mt-1 mb-1 mr-4" 
        data-url="{% url 'email_group_delete' group.id %}"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="{% static 'img/icons/delete.svg' %}" style="width:38px;"></a></div>
    </div>
    </td>
    </tr>
    {% empty %}
    <div class="container bg-light mb-4" style="padding:10px;">
    <h5 class="mb-0">
        <a data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseOne">
        No group yet
        </a>
    </h5>
    </div>
{% endfor %}
</tbody>
</table>

