<table class="table" id="contact-table" style="width:100%;">
    <thead>
    <tr>
        <th>NAME</th>
        <th>#</th>
        <th>CREATED</th>
        <th width="400px;">ACTIONS</th>
    </tr>
    </thead>
    <tbody>
{% for group in groups %}
    <tr>
    <td><a class="signature-green" href="{% url 'contact_list' group.pk %}">{{ group.name }}</a></td>
    <td style="text-align:center;">{{ group.members.count }}</td>
    <td style="text-align:center;">{{ group.created_time|date:'d/m/y' }}</td>
    <td style="text-align:center;">
    <div class="row justify-content-center">
    <a class="btn btn-sm btn-grey js-update-email-group mt-1 mb-1 mr-2"
        data-url="{% url 'email_group_update' group.id %}"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">EDIT</a>
    <a class="btn btn-sm btn-grey mr-2 mt-1 mb-1" 
        data-url="#"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">SHARE ACTIVITY</a>
    <a class="btn btn-sm btn-grey mr-2 mt-1 mb-1"
        data-url="#"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">COPY</a>
    <a class="btn btn-danger btn-sm js-delete-email-group mt-1 mb-1 mr-2" 
        data-url="{% url 'email_group_delete' group.id %}"
        href="#" role="button" aria-haspopup="true" aria-expanded="false">DELETE</a>
    </div>
    </td>
    </tr>
    {% empty %}
    <div class="container bg-light mb-4" style="padding:10px;">
    <h5 class="mb-0">
        <a data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseOne">
        No group yet
        </a>
    </h5>
    </div>
{% endfor %}
</tbody>
</table>

