{% extends 'base.html' %}

{% load static %}

{% block title %} Send Email {% endblock title %}

{% block stylesheet %}
<style>
    .invalid-feedback {display: inline;}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-4" style="width:100%;">
  <div class="row justify-content-center">
    <div class="card" style="width: 75%;">
      <div class="card-body">
        <h3 class="card-title">Send email</h3>
        <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        {{ pk }}
        <div class="form-group row">
          <div class="col-sm-offset-2 col-sm-10">
            <a href="{% url 'home' %}" class="btn btn-outline-primary">Cancel</a>
            <button type="submit" class="btn btn-primary"> Send </button>
          </div>
        </div>
        </form>
        </div>
      </div>
  </div>
</div>

{% endblock %}