__pycache__/
*.py[cod]
.env
venv/
*.pyc
staticfiles

# SQLite database files

*.sqlite3
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
