{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title mb-4">Login</h3>
          <form method="post" novalidate>
            {% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}"> 
<!--bcos of this line, logged in users will be redirected to the page they wanted to go before they were going to the login page. The "next" parameter is part of a built-in functionality -->
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-neon-green btn-block" style="margin-top:0;height:50px;">Login</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
        </div>
      </div>
      <!-- <div class="text-center py-2">
        <small>
          <a href="#" class="text-muted">Forgot your password?</a>
        </small>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}

<!--
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMBqqtl6cnrNdV4TUGDSF4z9g4shpp5kM&callback=initMap">
</script>
-->

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuR6-6PfCU7wRsSRRR3DH_PseEAYvyp3k&callback=initMap">
</script>

<script>
// function initMap() {
//   var map = new google.maps.Map(document.getElementById('map'), {
//     zoom: 8,
//     center: {lat: -34.397, lng: 150.644}
//   });
//   var geocoder = new google.maps.Geocoder();

//   document.getElementById('submit').addEventListener('click', function() {
//     geocodeAddress(geocoder, map);
//   });
// }

function initMap() { 
  var geocoder = new google.maps.Geocoder();

  var map = new google.maps.Map(document.getElementById('map'));

  var address = document.getElementById('address').value;

  geocodeAddress(geocoder, map);

  
}

function geocodeAddress(geocoder, resultsMap) {
  var address = document.getElementById('address').value;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === 'OK') {
      resultsMap.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>

{% endblock %}