.swiper-container {
    width: 100%;
    height: 100%;
}
.card {
  border: none;
}
.card-body {
  padding-left:0;
  padding-right:0;
}
#map {
  height: 500px;
  width: 100%;
}
#fb_desktop {
  border-radius: 0%;
}
button {
  cursor: pointer;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
#id_others {
  padding-top: 0.5em;
}
.btn.focus {
  outline-color: transparent;
}
.js-bookmark-article.active {
  background-color:rgb(92,184,92);
}
.js-bookmark-article {
  background: transparent;
  border-color: grey;
}
#edit_btn {
  background: lightgrey;
  color: rgba(128, 128, 128, 0.842);
  border-color: transparent;
}
/* .tooltip-inner
{ background-color:red;}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before 
{ border-bottom-color: red;} */

.tooltip-inner
{ background-color: #A9DFF8;}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before 
{ border-bottom-color: #A9DFF8;} 

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before 
{ border-bottom-color: #A9DFF8;} 

.side-title {
  font-size:28px;color:#666666;
}

.bold-text {
  color: #484848;
  font-size: 20px;
}
.light-text {
  font-weight: 300;
  color: #484848;
}
.card-text {
  color: #484848;
  font-size: 18px;
}
/* Table Style */
#contact-table {
  border-collapse: collapse;
}
#contact-table tbody tr:hover {
  background-color: #fafafa;
}
#contact-table thead th {
  text-align: center;
  vertical-align: middle;
}
th, td {
  font-weight: 300;
  font-size: 18px;
  color: #999999;
}
#contact-table th {
  font-weight: 600;
}
.btn-blue {
  background:#A9DFF8; color:#FFFFFF;
}
.btn-blue:hover {
  background:rgb(26, 128, 175); color:#FFFFFF;
}
