{% load form_tags widget_tweaks %}

{% for field in form %}

{% if field.label == "Create the number of spaces available" or field.label == "Space" or field.label == "Cost" or field.label == "Is there a cost ?" or field.label == "Living in Australia" or field.label == "Listing Privacy" or field.label == "From age" or field.label == "To age" or field.label == "Language(s) spoken" or field.label == "Gender" %}

{% if field.label != "From age" or field.label == "To age" %}
<div class="form-group">
        
    {% if field.label == "Create the number of spaces available" %}
        <p class = "card-title">STEP 4 OF 4</p>
        <label class="col-form-label" ><h3>{{ field.label_tag }}</h3></label>
        <br />
        {% for radio in form.space_choice %}
            <div class="myradio">
                {{ radio }}
            </div>
        {% endfor %}
    {% endif %}
        
    {% if field.label == "Is there a cost ?" %}
        <label class="col-form-label" ><h3>{{ field.label_tag }}</h3></label>
        <br />
        {% for radio in form.cost_choice %}
            <div class="myradio">
                {{ radio }}
            </div>
        {% endfor %}
    {% endif %}
        
    {% if field.label == "Listing Privacy" %}
        <label class="col-form-label" ><h3>{{ field.label_tag }}</h3></label>
        <br />
        {% for radio in form.listing_privacy %}
            <div class="myradio" style="display:inline-block">
                {{ radio }}<br />
            </div>
        {% endfor %}
    {% endif %}

    {% if field.label == "Space" %}
        {% render_field field class=field|input_class %}
    {% endif %}
        
    {% if field.label == "Cost" %}
        {% render_field field class=field|input_class %}
    {% endif %}
        
    {% if field.label != "Create the number of spaces available" and field.label != "Is there a cost ?" and field.label != "Space" and field.label != "Cost" and field.label != "Listing Privacy" and field.label != "From age" and field.label != "To age" %}
        <label class="col-form-label" ><h3>{{ field.label_tag }}</h3></label>
        {% render_field field class=field|input_class %}
    {% endif %}
        
    {% for error in field.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
    {% endfor %}

    {% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
        
</div>

{% else %}
<div class="row">
    <div class="col-md-12">
    <label class="col-form-label"><h3>Age</h3></label>
    </div>
</div>

<div class="form-group row">
    <div class="col-md-6 col-sm-12 col-xs-12 mb-3">
        {% render_field form.min_age class="form-control" %}
        {% for error in form.min_age.errors %}
        <div class=" col-md-6 col-sm-12 col-xs-12 mb-3 invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        {% render_field form.max_age class="form-control" %}
        {% for error in form.max_age.errors %}
        <div class=" col-md-6 col-sm-12 col-xs-12 mb-3 invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endif %}

{% endfor %}