{% load form_tags widget_tweaks %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <p class="mb-0">{% if forloop.last %}{% endif %}{{ error }}</p> <!-- for the last error, put mb/margin-bottom = 0 so that the error message doesn't look weird. By default, p has mb which doesn't equal to 0-->
    {% endfor %}
  </div>
{% endif %}

{% for field in form %}

    {% if field.label == "What is the name of the activity ?" or field.label == "What type of activity are you creating ?" or field.label == "Where is the location ?" %}

    <!-- {% if field.label == "What type of activity are you creating ?" %}
        <p class="card-title step-info" id="general_info">STEP 1 OF 3</p>
    {% endif %} -->

    <div class="form-group" name="section_1" >
        <label class="col-form-label activity-form"><h3>{{ field.label_tag }}</h3></label>

        {% if field.label == "What type of activity are you creating ?" %}
        {% render_field field class="form-control" style="color:#999999; height:50px;margin-bottom: 2em;" %}
        {% else %}
        {% render_field field class="form-control activity-fields" %}
        {% endif %}
        
        {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
        {% endfor %}
        
        {% if field.help_text %}
          <small class="form-text text-muted">
            {{ field.help_text|safe }} <!-- The "safe" is so that the help text is not displayed in raw html, read https://simpleisbetterthancomplex.com/series/2017/09/25/a-complete-beginners-guide-to-django-part-4.html-->
          </small>
        {% endif %}
    </div>

    {% if field.label == "Where is the location ?" %}
    <!-- <div class="form-group row address-details">
      <div class="col-md-6 col-sm-12 col-xs-12 mb-3">
        <input class="form-control" name="locality" type="text" value="" placeholder="Suburb">
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 mb-3">
        <input class="form-control" name="postal_code" type="text" value="" placeholder="Postcode">
      </div>
    </div> -->
    <div class="row address-details">
        <div class="col-md-6 col-sm-12 col-xs-12 mb-3">
          <label class="col-form-label activity-form activity-location">{{ form.suburb.label_tag }}</label>
          {% render_field form.suburb class="form-control activity-fields" %}
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 mb-3">
          <label class="col-form-label activity-form activity-location">{{ form.postcode.label_tag }}</label>
          {% render_field form.postcode class="form-control activity-fields" %}
        </div>
    </div>
      
    {% endif %}
    
    {% endif %}

{% endfor %}