{% load form_tags widget_tweaks %}

{% for field in form %}

{% if field.label == "Describe the event" %}
<div class="form-group mt-4">
    <label class="col-form-label">{{ field.label_tag }}</label>
    {% render_field field class="form-control activity-fields" style="height:90%;" %}
    {% for error in field.errors %}
        <div class="invalid-feedback">
        {{ error }}
        </div>
    {% endfor %}
        
    {% if field.help_text %}
        <small class="form-text text-muted">
        {{ field.help_text|safe }}
        </small>
    {% endif %}
    </div>
{% endif %}

{% if field.label == "Add an event image" or field.label == "Upload a printable event flyer" %}
    <div class="form-group">
    <label class="col-form-label">{{ field.label_tag }}</label><br/>
    {% render_field field class="form-control activity-fields" %}
    {% for error in field.errors %}
        <div class="invalid-feedback">
        {{ error }}
        </div>
    {% endfor %}
        
    {% if field.help_text %}
        <small class="form-text text-muted">
        {{ field.help_text|safe }}
        </small>
    {% endif %}
    </div>
{% endif %}

{% if field.label == "Organiser details" %}
<div class="form-group">
<div class="row">
    <div class="col-md-12">
        <label class="col-form-label activity-form"><h3>{{ field.label_tag }}</h3></label>
    </div>
</div>
    
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 mb-3">
        {% render_field form.organiser class="form-control activity-fields" %}
        {% for error in form.organiser.errors %}
        <div class=" col-md-6 col-sm-12 col-xs-12 mb-3 invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        {% render_field form.contact_number class="form-control activity-fields" %}
        {% for error in form.contact_number.errors %}
        <div class=" col-md-6 mb-3 invalid-feedback">{{ error }}</div>
        {% endfor %}
    </div>
</div>
</div>
{% endif %}

{% endfor %}