{% extends 'base.html' %}

{% load static %}

{% block title %}
    {% if not object.pk %} Create activity
    {% else %} Update activity {% endif %}
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/easy-autocomplete.css' %}">
<link rel="stylesheet" href="{% static 'css/easy-autocomplete.themes.css' %}">
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
{% if not object.published %}
<form method="post" enctype="multipart/form-data" action="{% url 'create_activity' %}" novalidate>
{% else %}
<form method="post" enctype="multipart/form-data" action="{% url 'edit_activity' object.pk %}" novalidate>
{% endif %}
<!--Adding action attribute in form will prevent the addition of href url when submitting the form-->
    
{% csrf_token %}

<div class = "container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card no-border mb-3">
            <div class="card-body">
                <h2 class="main-title">Create an activity</h2>
                {% include 'includes/base_activity_form.html' %}
                <br />
            </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row justify-content-center" id="schedule_info">
        <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card no-border mb-3" >
            <div class="card-body">
                {% include 'includes/base_activity_form_2.html' %}
                {% include 'includes/base_activity_form_3.html' %}
                <br />
            </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container mt-4" >
{% if messages %}
<div class="row justify-content-center" id="other_info">
{% else %}
<div class="row justify-content-center" id="other_info">
{% endif %}
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card no-border mb-3">
        <div class="card-body">
            {% include 'includes/base_activity_form_3.html' %}
            <br />
          </div>
        </div>
    </div>
</div>
</div> -->

<div class="container mt-4">
    <div class="row justify-content-center" id="eligibility_info">
        <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card no-border mb-3">
            <div class="card-body">
                {% include 'includes/base_activity_form_4.html' %}
                {% if not object.published %}
                <button type="submit" class="btn btn-lg float-right btn-neon-green ml-2" id="id_publish"> PREVIEW </button>
                <!-- <button type="submit" class="btn btn-secondary btn-lg float-right" id="id_publish"> &nbsp;&nbsp;Save&nbsp;&nbsp;</button> -->
                {% else %}
                <button type="submit" class="btn btn-success btn-lg float-right" id="id_publish" href="general_info"> Save </button>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.js" type="text/javascript"></script>
<script src="http://www.datejs.com/build/date.js" type="text/javascript"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
<script src="{% static 'js/bootstrap-filestyle.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuR6-6PfCU7wRsSRRR3DH_PseEAYvyp3k&libraries=places&region=au"></script>
<script src="{% static 'js/jquery.geocomplete.js' %}"></script>
<script>

$( function() {

$("#id_activity_img").filestyle(
    {buttonBefore: true, text: "", 
    btnClass: "", htmlIcon: '<span class="fas fa-camera fa-2x"></span>', placeholder: "Images must not exceed 2MB"});

$("#id_flyer").filestyle(
    {buttonBefore: true, text: "&nbsp;", 
    btnClass: "", htmlIcon: '<span style="margin-left:5px;"><i class="fas fa-file-pdf fa-2x"></i></span>', 
    placeholder: "Upload printable PDF"});

if (document.getElementById('id_space_choice_1').checked) {
    $( "#id_space" ).show();
} else {
    $( "#id_space" ).hide();
}

if (document.getElementById('id_cost_choice_1').checked) {
        $( "#id_cost" ).show();
} else {
    $( "#id_cost" ).hide();
}

$( "#id_space_choice_1" ).click(function() {
    $( "#id_space" ).show();
});

$( "#id_space_choice_0" ).click(function() {
    $( "#id_space" ).hide();
});
    
$( "#id_cost_choice_1" ).click(function() {
    $( "#id_cost" ).show();
});
    
$( "#id_cost_choice_0" ).click(function() {
    $( "#id_cost" ).hide();
});

function toggleFields(term) {
    console.log("called");
    if (term == "Daily"){
        $( "#id_start_date" ).show();
        $( "#id_end_date" ).show();
        $( "#label_start_date" ).show();
        $( "#label_end_date" ).show();
        $( "#id_activity_date" ).hide();
        $( "#label_activity_date" ).hide();
        $( "#id_activity_day" ).hide();
        $( "#label_activity_day" ).hide();
    }
    
    if (term == "Once"){
        $( "#id_start_date" ).hide();
        $( "#id_end_date" ).hide();
        $( "#label_start_date" ).hide();
        $( "#label_end_date" ).hide();
        $( "#id_activity_date" ).show();
        $( "#label_activity_date" ).show();
        $( "#id_activity_day" ).hide();
        $( "#label_activity_day" ).hide();
    }
    
    if (term == "Weekly" || term == "Fortnightly" || term == "Monthly"){
        $( "#id_start_date" ).show();
        // $( "#id_start_date" ).addClass("showelement");
        $( "#id_end_date" ).show();
        $( "#label_start_date" ).show();
        $( "#label_end_date" ).show();
        $( "#id_activity_day" ).show();
        $( "#label_activity_day" ).show();
        $( "#id_activity_date" ).hide();
        $( "#label_activity_date" ).hide();
}
}
    
// var e = document.getElementById("id_term");
// var term = e.options[e.selectedIndex].value;
var term = $('#id_term').val();
var term2 = $('#id_term :selected').text();
toggleFields(term);
$('#id_term').click(toggleFields(term2));
$('#id_term').change(toggleFields(term2));
});

$('#id_term').change(function toggleFields() {
    console.log("called again");
    var term = $('#id_term').val();
    if (term == "Daily"){
        $( "#id_start_date" ).show();
        $( "#id_end_date" ).show();
        $( "#label_start_date" ).show();
        $( "#label_end_date" ).show();
        $( "#id_activity_date" ).hide();
        $( "#label_activity_date" ).hide();
        $( "#id_activity_day" ).hide();
        $( "#label_activity_day" ).hide();
    }
    
    if (term == "Once"){
        $( "#id_start_date" ).hide();
        $( "#id_end_date" ).hide();
        $( "#label_start_date" ).hide();
        $( "#label_end_date" ).hide();
        $( "#id_activity_date" ).show();
        $( "#label_activity_date" ).show();
        $( "#id_activity_day" ).hide();
        $( "#label_activity_day" ).hide();
    }
    
    if (term == "Weekly" || term == "Fortnightly" || term == "Monthly"){
        $( "#id_start_date" ).show();
        $( "#id_end_date" ).show();
        $( "#label_start_date" ).show();
        $( "#label_end_date" ).show();
        $( "#id_activity_day" ).show();
        $( "#label_activity_day" ).show();
        $( "#id_activity_date" ).hide();
        $( "#label_activity_date" ).hide();
    }
});
    
var defaultDate = new Date();
defaultDate.setYear(defaultDate.getFullYear() - 1);
console.log(defaultDate);

var id_start_date = document.getElementById("id_start_date");
var id_end_date = document.getElementById("id_end_date");
var default_end_date = id_end_date.addEventListener("click", function(e) {
    return id_start_date.value;
});
    
$('#id_start_date').datepicker({
    format: 'dd M yyyy',
    autoclose: true,
    assumeNearbyYear: true,
    clearBtn: true,
    startDate: defaultDate,
    todayHighlight: true,
//        todayBtn: true,
});    
    
$('#id_end_date').datepicker({
    format: 'dd M yyyy',
    autoclose: true,
    assumeNearbyYear: true,
    clearBtn: true,
    startDate: defaultDate,
    todayHighlight: true,
});
    
$('#id_activity_date').datepicker({
    format: 'dd M yyyy',
    autoclose: true,
    assumeNearbyYear: true,
    clearBtn: true,
    startDate: defaultDate,
    todayHighlight: true,
});
    
$('#id_start_time').timepicker({ 
    'scrollDefault': 'now', 'timeFormat': 'h:i A', 'step': 15
});
$('#id_end_time').timepicker({ 
    'scrollDefault': 'now', 'timeFormat': 'h:i A', 'step': 15
});
    
$('#id_start_date').attr('readonly', true);
$('#id_end_date').attr('readonly', true);
$('#id_activity_date').attr('readonly', true);

$( "#id_next" ).click(function() {
    $( "#schedule_info" ).show(); 
    $( "#id_prev" ).show();
    $( "#id_start_date" ).hide();
    $( "#id_end_date" ).hide();
    $( "#id_activity_day" ).hide();
    $( "#label_start_date" ).hide();
    $( "#label_end_date" ).hide();
    $( "#label_activity_day" ).hide();
});
    
$( "#id_next2" ).click(function() {
    $( "#other_info" ).show();
});
    
$( "#id_next3" ).click(function() {
    $( "#eligibility_info" ).show();
    $( "#id_prev3" ).show();
});
    
$( "#id_term" ).click(function() {
    var e = document.getElementById("id_term");
    var term = e.options[e.selectedIndex].value;

    if (term == "Daily"){
        $( "#id_start_date" ).show();
        $( "#id_end_date" ).show();
        $( "#label_start_date" ).show();
        $( "#label_end_date" ).show();
        $( "#id_activity_date" ).hide();
        $( "#label_activity_date" ).hide();
        $( "#id_activity_day" ).hide();
        $( "#label_activity_day" ).hide();
    }   
    
    if (term == "Once"){
        $( "#id_start_date" ).hide();
        $( "#id_end_date" ).hide();
        $( "#label_start_date" ).hide();
        $( "#label_end_date" ).hide();
        $( "#id_activity_date" ).show();
        $( "#label_activity_date" ).show();
        $( "#id_activity_day" ).hide();
        $( "#label_activity_day" ).hide();
    }
    
    if (term == "Weekly" || term == "Fortnightly" || term == "Monthly"){
        $( "#id_start_date" ).show();
        $( "#id_end_date" ).show();
        $( "#label_start_date" ).show();
        $( "#label_end_date" ).show();
        $( "#id_activity_day" ).show();
        $( "#label_activity_day" ).show();
        $( "#id_activity_date" ).hide();
        $( "#label_activity_date" ).hide();
    }
    
});
    
//Google maps
// function initialize() {
//     var input = document.getElementById('id_location');
//     var autocomplete = new google.maps.places.Autocomplete(input);
// }
// google.maps.event.addDomListener(window, 'load', initialize);

$("#id_location").geocomplete(
    { 
        details: ".address-details",
        detailsAttribute: "data-geo"
    }
);

</script>

{% endblock %} 