{% extends 'base.html' %}

{% load static %}

{% block title %}{{ activity.name }}{% endblock title %}

{% block stylesheet %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/jssocials.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jssocials-theme-flat.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css'%}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css'%}"/> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/swiper.css'%}" />
<!-- <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" /> -->
<!-- <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'activities/css/activity_details.css'%}" />

{% endblock %}

{% block content %}

{% include 'activities/includes/partial_activity_details.html' %}
<br />

{% if org_activities %}
<!-- More activities from the same organisation -->
<div class="container-fluid mt-4">
  <div class="container">
  <h3 style="margin-bottom:2%;">More activities and events from this organiser</h3>
  <div class="swiper-container">
      <div class="swiper-wrapper">
      {% include 'activities/includes/other_activities.html' %}
      </div>
      <!-- Navigation buttons -->
      <div class="swiper-button-prev swiper-button-black"></div>
      <div class="swiper-button-next swiper-button-black"></div>
  </div>
  </div>
</div>
{% include 'activities/includes/modal_other_activities.html' %}
{% endif %}

<!-- Google Maps -->
<!-- {% if activity.location %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div id="map" style="margin-top:5%;"></div>
  </div>
</div>
{% endif %} -->

{% if recommended_activities %}
<!-- Other events and activities you might like -->
<div class="container-fluid mt-4 mb-0" id="id_others">
<div class="container mt-4">
<h3 style="margin-top:2%;margin-bottom:2%;">Other activities and events you might like</h3>
<div class="swiper-container">
    <div class="swiper-wrapper">
  {% include 'activities/includes/recommended_activities.html' %}
  </div>
  <!-- Navigation buttons -->
  <div class="swiper-button-prev swiper-button-black"></div>
  <div class="swiper-button-next swiper-button-black"></div>
</div>
</div>
</div>
{% include 'activities/includes/modal_recommended_activities.html' %}
{% endif %}

<!-- THE MODAL FOR SHARING ACTIVITY URL -->
<div class="modal fade" id="modal-share-url">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Share this activity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="row justify-content-center mt-3">
        <!-- <div class="addthis_inline_share_toolbox"></div> -->
        <div class="sharethis-inline-share-buttons"></div>
        <a target="_self" class="btn btn-circle-2 ml-2" 
        href="sms:?&body=Check this out:%0D%0Ahttp://{{ domain }}{% url 'activity_detail' activity.pk %}"
        style="background:#ffc600;width:49px;height:49px;border-radius:100%;color:white;padding-top:11px;padding-right:5px;">
        <img src="{% static 'img/icons/sms.png' %}" style="width:28px;margin-top:-2px;margin-bottom:1px;margin-right:10px;margin-left:-2px;"></a>
        <a target="_self" class="btn btn-circle-2 ml-2" 
        href="mailto:?subject=Check%20this%20out!&body=Check this out:%0D%0Ahttp://{{ domain }}{% url 'activity_detail' activity.pk %}"
        style="background:grey;width:49px;height:49px;border-radius:100%;color:white;padding-top:10px;">
        <img src="{% static 'img/icons/envelope.png' %}" style="width:23px;margin-bottom:1px;"></a>
    </div>
    <div class="row mt-3 ml-3 mr-3">
    <input class="form-control mr-2 text-center" type="text" id="id_share_url" value="http://{{ domain }}{% url 'activity_detail' activity.pk %}">
    <!-- <button class="btn btn-outline-success" type="button" onclick="copyURL(this.id)" id="cpbtn"><i class="far fa-copy"></i></button> -->
    </div>
    <div class="row ml-3 mt-1">
    <p class="small" id="id_url_text"></p>
    </div>
    </div>
  </div>
</div>

<!-- Modal to register attendee -->
<div class="modal fade" id="modal-register">
  <div class="modal-dialog">
      <div class="modal-content"></div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<!-- <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuR6-6PfCU7wRsSRRR3DH_PseEAYvyp3k&region=AU&callback=initMap">
</script> -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoIBABSLvZbyCslNdTJy54AATSEz1lOvs&libraries=places&region=au"></script>
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a2f1bb7fce9e20013a73372&product=inline-share-buttons"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a435c987240088a"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script> -->

<!-- <script src="{% static 'js/jssocials.js' %}"></script>
<script src="{% static 'js/slick.js' %}"></script> -->
<script src="{% static 'js/swiper.js' %}"></script>

<script>
$(function() {

$('#main-share').click(function(){
    $('#share-text').toggle();
    $('#share-email').toggle();
});

$('.info-tooltip').tooltip();

var swiper = new Swiper('.swiper-container', {
  slidesPerView: 3,
  spaceBetween: 30,
  // Navigation arrows
  navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
  },
  loop: true,
  breakpoints: {
      1024: {
        slidesPerView: 3,
        spaceBetween: 30,
        loop: true,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 30,
        loop: true,
      },
      640: {
        slidesPerView: 1,
        spaceBetween: 15,
        loop: true,
      },
      320: {
        slidesPerView: 1,
        spaceBetween: 10,
        loop: true,
      }
  }
});

  // Change apperance of bookmark button when clicked
  $( ".active" ).each(function() {
    $( this ).siblings('.remove').css( "display", "none" );
  });

  $('#edit_btn').tooltip();
  $('#send-reminder').tooltip();

  var isMobile = window.matchMedia("only screen and (max-width: 760px)");

  if (isMobile.matches) {
    $(".send_dialog").hide();
  }
  else{
    $("#share").hide();
    $("#share4").hide();
    $("#share5").hide();
  }

  $(".js-share-url").click(function () {
    $("#id_url_text").html("");
    $("#modal-share-url").modal("show");
    $(".st-btn").show();
  });

var loadForm = function () {
  var btn = $(this);
  $.ajax({
    url: btn.attr("data-url"),
    type: 'get',
    dataType: 'json',
    beforeSend: function () {
      $("#modal-register").modal("show");
    },
    success: function (data) {
      $("#modal-register .modal-content").html(data.html_form);
      console.log(data);
      if (data.fully_booked) {
        $("#modal-register").modal("hide");
        location.reload();
      }
    }
  });
};

var saveForm = function () {
  var form = $(this);
  $.ajax({
    url: form.attr("action"),
    data: form.serialize(),
    type: form.attr("method"),
    dataType: 'json',
    beforeSend: function () {
        $('.loading').show();
    },
    success: function (data) {
      $('.loading').hide();
      if (data.form_is_valid) {
        $("#modal-register").modal("hide");
        $("#contact-table").html(data.attendee_list);
        $("#attendees_no").html(data.attendees_no);
        $("#available_space").html(data.available_space);
        $("#send-reminder-btn").html(data.send_reminder_btn);
        $('[data-toggle="tooltip"]').tooltip();
      }
      else {
        $("#modal-register .modal-content").html(data.html_form);
      }
    }
  });
  return false;
};

// Add new attendee
$(".js-register-client").click(loadForm);
$("#modal-register").on("submit", ".js-booking-form", saveForm);

});

var loadForm = function () {
  var btn = $(this);
  $.ajax({
    url: btn.attr("data-url"),
    type: 'get',
    dataType: 'json',
    beforeSend: function () {
      $("#modal-register").modal("show");
    },
    success: function (data) {
      $("#modal-register .modal-content").html(data.html_form);
      if (data.fully_booked) {
        $("#modal-register").modal("hide");
        location.reload();
      }
    }
  });
};

$(document).on('click', '.js-register-client', loadForm);

  // Show the map
  // setTimeout(function initMap() {
  //   var geocoder = new google.maps.Geocoder();
  //   var map = new google.maps.Map(document.getElementById('map'));
    
  //   Populate addresses from GMaps on address input
    // var address = $('#address').text();
    // geocodeAddress(geocoder, map);

  //   Populate GMaps URL on the address link
  //   var map_url = "https://www.google.com/maps/search/?api=1&query=";
  //   var full_url = map_url + address;
  //   $("#address2").attr("href", full_url);
  // }, 1000);

//   Populate addresses from GMaps on address input
var address = $('#address').text();
var map_url = "https://www.google.com/maps/search/?api=1&query=";
var full_url = map_url + address;
$("#address2").attr("href", full_url);

// function geocodeAddress(geocoder, resultsMap) {
//   var address = $('#address').text();
//   geocoder.geocode({'address': address}, function(results, status) {
//     if (status === 'OK') {
//       resultsMap.setCenter(results[0].geometry.location);
//       resultsMap.setZoom(14);
//       var marker = new google.maps.Marker({
//         map: resultsMap,
//         position: results[0].geometry.location
//       });
//     }
//   });
// }
  // google.maps.event.addDomListener(window, 'page:load', initMap);


  // $("#share").jsSocials({
  //     shares: ["messenger"],
  //     showLabel: false,
  //     shareIn: "popup",
  //     url: window.location.hostname+"{% url 'activity_detail' activity.pk %}",
  // });
  // $("#share2").jsSocials({
  //     shares: ["facebook"],
  //     showLabel: false,
  //     shareIn: "popup",
  // });
  // $("#share3").jsSocials({
  //     shares: ["email"],
  //     showLabel: false,
  //     shareIn: "popup",
  // });
  // $("#share4").jsSocials({
  //     shares: ["whatsapp"],
  //     showLabel: false,
  //     shareIn: "popup",
  // });
  // $("#share5").jsSocials({
  //     shares: ["sms"],
  //     showLabel: false,
  //     shareIn: "popup",
  // });

  // window.fbAsyncInit = function() {
  //   FB.init({
  //     appId            : '1943348669252986',
  //     autoLogAppEvents : true,
  //     xfbml            : true,
  //     version          : 'v2.11'
  //   });
  // };

  // (function(d, s, id){
  //    var js, fjs = d.getElementsByTagName(s)[0];
  //    if (d.getElementById(id)) {return;}
  //    js = d.createElement(s); js.id = id;
  //    js.src = "https://connect.facebook.net/en_US/sdk.js";
  //    fjs.parentNode.insertBefore(js, fjs);
  //  }(document, 'script', 'facebook-jssdk'));

  //  $("#id_send_dialog").click(sendDialog);

  // function sendDialog() {
  //   FB.ui({
  //     method: 'send',
  //     link: window.location.href
  //   });
  // }

// function copyURL() {
//   var copyText = document.getElementById("id_share_url");
//   copyText.select();
//   document.execCommand("Copy");
//   $("#id_url_text").html("Link has been copied!");
// }

// function markActivity(clicked_id) {
//     var url_dest = '/activity/bookmark/'+clicked_id+'/';
//     $.ajax({
//         url: url_dest,
//         type: 'get',
//         dataType: 'json',
//         beforeSend: function () {
//             // alert(url_dest);
//         },
//         success: function(){
//           $(this).toggleClass('active');
//         }
//     });
// };

function sendReminder(clicked_id) {
  var url_dest = '/activity/'+clicked_id+'/reminder';
  $.ajax({
      url: url_dest,
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $('#send-reminder').hide();
      },
      success: function(){
      }
  });
  $('#send-reminder').hide();
  $('#reminder-message').show();
};

// When user clicks the Back button, it will open the link to Update activity draft page
// history.pushState(null, document.title, location.href);
// window.addEventListener('popstate', function (event)
// {
//   // history.pushState(null, document.title, location.href); // preventing from pressing the back button
//   var old_URL = document.referrer; // document.referrer = previous URL
//   var edit_activity_URL = document.getElementById("edit_btn_url").getAttribute("href");
//   var hostname = window.location.hostname;
//   var dest_edit_url;

//   if (hostname == 'localhost') {
//     dest_edit_url = "http://" + hostname + ":8000" + edit_activity_URL;
//   } else {
//     dest_edit_url = "http://" + hostname + edit_activity_URL;
//   }

//   if ( old_URL == dest_edit_url ) { // Check if previous URL is editing the activity draft
//     window.location.href = dest_edit_url;
//     console.log("test");
//   }
// });

function getURL(id, value) {
    var text_input_arr = id.split("sharebutton_");
    var activity_id = text_input_arr[1];

    var modal_id = "#modal_" + activity_id;
    var input_id = "#input_" + activity_id;

    $(input_id).html("");
    $(modal_id).modal("show");

    $(".st-btn").show();
}
</script>

{% endblock %}
