{% extends 'base.html' %}

{% load static %}

{% block title %}
    {% if not object.pk %}
        Create activity
    {% else %}
        Update activity
    {% endif %}
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/easy-autocomplete.css' %}">
<link rel="stylesheet" href="{% static 'css/easy-autocomplete.themes.css' %}">
<style>
    .invalid-feedback {display: inline;}    
    #id_start_date, #id_end_date, #id_activity_date  {
      background-color: white;
      cursor: pointer;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
<form method="post" enctype="multipart/form-data" action="{% url 'edit_draft_activity' object.pk %}" novalidate>
<!--Adding action attribute in form will prevent the addition of href url when submitting the form-->
    
{% csrf_token %}

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card bg-light mb-3">
        <div class="card-body">
                {% include 'includes/base_activity_form.html' %}
                <br />
                <div class="form-group row">
                  <div class="col-sm-12">
                    <a id="id_next" class="btn btn-primary btn-lg float-right" href="#schedule_info" >Next</a>
                  </div>
                </div>
          </div>
        </div>
    </div>
</div>

{% if messages %}
<div class="row justify-content-center" id="schedule_info">
{% else %}
<div class="row justify-content-center" id="schedule_info" style="display:none">
{% endif %}
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card bg-light mb-3" >
        <div class="card-body">
                {% include 'includes/base_activity_form_2.html' %}
                <br />
                <div class="form-group row">
                   <div class="col-sm-2 offset-sm-8 col-sm-9">
                    <a id="id_prev" class="btn btn-primary btn-lg" href="#general_info">Previous</a>
                    <a id="id_next2" class="btn btn-primary btn-lg" href="#other_info"> &nbsp; Next &nbsp; </a>
                  </div> 
                </div>
          </div>
        </div>
    </div>
</div>

{% if messages %}
<div class="row justify-content-center" id="other_info">
{% else %}
<div class="row justify-content-center" id="other_info" style="display:none">
{% endif %}
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card bg-light mb-3">
        <div class="card-body">
                {% include 'includes/base_activity_form_3.html' %}
                <br />
                <div class="form-group row">
                  <div class="col-sm-2 offset-sm-8 col-sm-9">
                    <a id="id_prev2" class="btn btn-primary btn-lg" href="#schedule_info">Previous</a>
                    <a id="id_next3" class="btn btn-primary btn-lg" href="#eligibility_info"> &nbsp; Next &nbsp; </a>
                  </div>
                </div>
          </div>
        </div>
    </div>
</div>

{% if messages %}
<div class="row justify-content-center" id="eligibility_info">
{% else %}
<div class="row justify-content-center" id="eligibility_info" style="display:none">
{% endif %}
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card bg-light mb-3">
        <div class="card-body">
                {% include 'includes/base_activity_form_4.html' %}
                <br />
                {% if not object.published %}
                <div class="form-group row">
                  <div class="col-sm-2 offset-sm-8 col-sm-9">
<!--                    <a id="id_prev3" class="btn btn-primary btn-lg" href="#other_info">Previous</a>-->
                    <button type="submit" class="btn btn-secondary btn-lg" id="id_publish"> &nbsp;&nbsp;Save&nbsp;&nbsp; </button>
                    <button type="submit" class="btn btn-success btn-lg" id="id_publish"> Preview </button>
                  </div>
                </div>
                {% else %}
                <div class="form-group row">
                  <div class="col-sm-2 offset-sm-10">
                    <button type="submit" class="btn btn-success btn-lg" id="id_publish" href="general_info"> Save </button>
                  </div>
                </div>
                {% endif %}
          </div>
        </div>
    </div>
</div>
</form>
</div>

{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.js" type="text/javascript"></script>
<script src="http://www.datejs.com/build/date.js" type="text/javascript"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/jquery.timepicker.min.js' %}"></script>


<!-- To provide autocomplete in fields (http://easyautocomplete.com/) -->
<!--<script src="{% static 'js/jquery.easy-autocomplete.js' %}"></script>-->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuR6-6PfCU7wRsSRRR3DH_PseEAYvyp3k&libraries=places&region=au"></script>

<script>
// Google maps
function initialize() {
    var input = document.getElementById('id_location');
    var autocomplete = new google.maps.places.Autocomplete(input);
}
google.maps.event.addDomListener(window, 'load', initialize);
    
//$( document ).ready(function() {
$( function() {    
var e = document.getElementById("id_term");
var term = e.options[e.selectedIndex].value;
    if (term == "Daily"){
        $( "#id_start_date" ).show();
        $( "#id_end_date" ).show();
        $( "#label_start_date" ).show();
        $( "#label_end_date" ).show();
        $( "#id_activity_date" ).hide();
        $( "#label_activity_date" ).hide();
        $( "#id_activity_day" ).hide();
        $( "#label_activity_day" ).hide();
    }   
    
    if (term == "Once"){
        $( "#id_start_date" ).hide();
        $( "#id_end_date" ).hide();
        $( "#label_start_date" ).hide();
        $( "#label_end_date" ).hide();
        $( "#id_activity_date" ).show();
        $( "#label_activity_date" ).show();
        $( "#id_activity_day" ).hide();
        $( "#label_activity_day" ).hide();
    }
    
    if (term == "Weekly" || term == "Fortnightly" || term == "Monthly"){
        $( "#id_start_date" ).show();
        $( "#id_end_date" ).show();
        $( "#label_start_date" ).show();
        $( "#label_end_date" ).show();
        $( "#id_activity_day" ).show();
        $( "#label_activity_day" ).show();
        $( "#id_activity_date" ).hide();
        $( "#label_activity_date" ).hide();
    }
});

    
$( "#id_space_choice_0" ).click(function() {
    $( "#id_space" ).show();
})

$( "#id_space_choice_1" ).click(function() {
    $( "#id_space" ).hide();
})
    
$( "#id_cost_choice_1" ).click(function() {
    $( "#id_cost" ).show();
})
    
$( "#id_cost_choice_0" ).click(function() {
    $( "#id_cost" ).hide();
})
    
//var options = {
//  data: ["Sunshine", "St. Albans", "Deer Park", "Keilor", "Keilor Downs", ]
//};
//    
//$('#id_location').easyAutocomplete(options);
    
var currentTime = new Date();
    
$('#id_start_date').datepicker({
    format: 'dd M yyyy',
    autoclose: true,
    assumeNearbyYear: true,
    clearBtn: true,
    startDate: currentTime,
    todayHighlight: true,
//        todayBtn: true,
});    
    
$('#id_end_date').datepicker({
    format: 'dd M yyyy',
    autoclose: true,
    assumeNearbyYear: true,
    clearBtn: true,
    startDate: currentTime,
    todayHighlight: true,
});
    
$('#id_activity_date').datepicker({
    format: 'dd M yyyy',
    autoclose: true,
    assumeNearbyYear: true,
    clearBtn: true,
    startDate: currentTime,
    todayHighlight: true,
});
    
$('#id_start_time').timepicker({ 
    'scrollDefault': 'now', 'timeFormat': 'h:i A', 'step': 15
});
$('#id_end_time').timepicker({ 
    'scrollDefault': 'now', 'timeFormat': 'h:i A', 'step': 15
});
    
$('#id_start_date').attr('readonly', true);
$('#id_end_date').attr('readonly', true);
$('#id_activity_date').attr('readonly', true);

$( "#id_next" ).click(function() {
    $( "#schedule_info" ).show(); 
    $( "#id_prev" ).show();
    $( "#id_start_date" ).hide();
    $( "#id_end_date" ).hide();
    $( "#id_activity_day" ).hide();
    $( "#label_start_date" ).hide();
    $( "#label_end_date" ).hide();
    $( "#label_activity_day" ).hide();
});
    
$( "#id_next2" ).click(function() {
    $( "#other_info" ).show();
});
    
$( "#id_next3" ).click(function() {
    $( "#eligibility_info" ).show();
    $( "#id_prev3" ).show();
});


//$( "#id_prev2" ).click(function() {
//    var form_elems = document.getElementsByName("section_2");
//    for (var i = 0; i < form_elems.length; i++) {
//        $(form_elems[i]).show();
//    }
//    
//    var form_elems = document.getElementsByName("section_3");
//    for (var i = 0; i < form_elems.length; i++) {
//        $(form_elems[i]).hide();
//    }
//    
//    $( "#id_prev" ).show();
//    $( "#id_next2" ).show();
    
//});
    
$( "#id_term" ).click(function() {
    var e = document.getElementById("id_term");
    var term = e.options[e.selectedIndex].value;

    if (term == "Daily"){
        $( "#id_start_date" ).show();
        $( "#id_end_date" ).show();
        $( "#label_start_date" ).show();
        $( "#label_end_date" ).show();
        $( "#id_activity_date" ).hide();
        $( "#label_activity_date" ).hide();
        $( "#id_activity_day" ).hide();
        $( "#label_activity_day" ).hide();
    }   
    
    if (term == "Once"){
        $( "#id_start_date" ).hide();
        $( "#id_end_date" ).hide();
        $( "#label_start_date" ).hide();
        $( "#label_end_date" ).hide();
        $( "#id_activity_date" ).show();
        $( "#label_activity_date" ).show();
        $( "#id_activity_day" ).hide();
        $( "#label_activity_day" ).hide();
    }
    
    if (term == "Weekly" || term == "Fortnightly" || term == "Monthly"){
        $( "#id_start_date" ).show();
        $( "#id_end_date" ).show();
        $( "#label_start_date" ).show();
        $( "#label_end_date" ).show();
        $( "#id_activity_day" ).show();
        $( "#label_activity_day" ).show();
        $( "#id_activity_date" ).hide();
        $( "#label_activity_date" ).hide();
    }
    
});
    
</script>

{% endblock %} 