{% extends 'base.html' %}

{% block title %}Activity detail{% endblock title %}

{% block content %}
  <div class="card">
<!--  <img class="card-img-top" src="" alt="Card image cap">-->
  <div class="card-body">
    <h4 class="card-title">{{ activity.name }}</h4>
    <p class="card-text">{{ activity.activity_type }}</p>
    <p class="card-text">{{ activity.start_date|date:'M d, Y' }} - {{ activity.start_time|time:'H:i' }}</p>
    <p class="card-text">{{ activity.end_date|date:'M d, Y' }} - {{ activity.end_time|time:'H:i' }}</p>
    <p class="col-sm-2 col-sm-4">
        <a href="{% url 'home' %}" class="btn btn-outline-primary">Back</a>
        <a href="{% url 'create_activity' %}" class="btn btn-primary"> Create another activity </a>
    </p>
  </div>
</div>
{% endblock %}