{% extends 'base.html' %}

{% block title %}Search for events{% endblock %}

{% block content %}

{% include 'event_form.html' %}

{% if activities %}

<div class="row">
{% for activity in activities %}
<div class="col-sm-6">
  <div class="card">
  {% if activity.activity_img %}
  <img class="card-img-top" src="{{ activity.activity_img.url }}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <h3 class="card-title"><a href="{% url 'activity_detail' activity.pk %}">{{ activity.name }}</a></h3>
    <p class="card-text">{{ activity.activity_type }}</p>
    <p class="card-text">{{ activity.start_date|date:'M d, Y' }} - {{ activity.start_time|time:'H:i' }}</p>
    <p class="card-text">{{ activity.end_date|date:'M d, Y' }} - {{ activity.end_time|time:'H:i' }}</p>
  </div>
  </div>
  <br />
</div>
{% endfor %}
</div>

{% include 'includes/pagination_2.html' %}

{% endif %}

{% endblock %}