{% extends 'base.html' %}

{% load static %}

{% load social_share %}

{% block title %}{{ activity.name }}{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<!-- <link rel="stylesheet" href="{% static 'css/fontawesome-all.css'%}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/jssocials.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jssocials-theme-flat.css'%}" />
<style>
    #map {
        height: 400px;
        width: 80%;
   }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
<div class="card">
  <div class="card-body">
    <h4 class="card-title"><a href="{% url 'activity_detail' activity.pk %}">{{ activity.name }}</a></h4>
    <p class="card-text">{{ activity.description }}</p>
    <p class="card-text">{{ activity.activity_type }}</p>
    <p class="card-text">{{ activity.organiser }}</p>
    <p class="card-text">Where? <a href=# id="address">{{ activity.location }}</a></p>  
    
      
<!--    Activities that only occur once -->
    {% if activity.activity_date %}
        <p class="card-text">{{ activity.activity_date|date:'D, d M Y' }}</p>
        <p class="card-text">{{ activity.start_time|time:'g:i A' }} to {{ activity.end_time|time:'g:i A' }}</p>
    {% endif %}
    
<!--      Daily, weekly, fortnightly, monthly activities-->
    {% if activity.term != 'Once' %}
      {% if activity.activity_day %}
      <p class="card-text">Happening every {{ activity.activity_day }} from {{ activity.start_date|date:'D, d M Y' }} to {{ activity.end_date|date:'D, d M Y' }}</p>
      {% else %}
      <p class="card-text">Happening every day from {{ activity.start_date|date:'D, d M Y' }} to {{ activity.end_date|date:'D, d M Y' }}</p>
      {% endif %}
      
<!--      Show the time of the activities-->
      <p class="card-text">{{ activity.start_time|time:'g:i A' }} to {{ activity.end_time|time:'g:i A' }}</p>
    {% endif %}
      
    <!--      Number of available spaces-->
      {% if activity.space_choice == 'Limited' %}
        <p class="card-text">Available space: {{ activity.space }}</p>
      {% endif %}
      
<!--      Activity cost-->
      {% if activity.cost_choice == 'N' %}
        <p class="card-text">No cost</p>
      {% endif %}
      {% if activity.cost_choice == 'Y' %}
        <p class="card-text">Cost: ${{ activity.cost }}</p>
      {% endif %}
      
<!--      Eligibility-->
      {% if activity.living_duration != 'Open' %}
      <p class="card-text">Living in Australia {{ activity.living_duration|lower }} than 5 years </p>      
      {% endif %}
      
      {% if activity.living_duration == 'Open' %}
      <p class="card-text">Open to anyone</p>
      {% endif %}
      
    {% if user.is_authenticated %}
    <a href="{% url 'sms_create' activity.pk %}" class="btn btn-outline-primary">Send SMS</a>
    <a href="{% url 'email_create' activity.pk %}" class="btn btn-outline-primary">Send Email</a>
    <a class="col-sm-2 col-sm-4">
        <a href="{% url 'edit_activity' activity.pk %}" class="btn btn-outline-primary">Edit</a>
        <a href="{% url 'create_activity' %}" class="btn btn-primary"> Create another </a>
        <a class="btn btn-danger" data-method="delete" href="{% url 'delete_activity' activity.id %}">Delete</a>
    </a>
    {% endif %}
      
  </div>
</div>
</div>

<br />

<!-- {% if not user.is_authenticated %}
<div class="sharethis-inline-share-buttons"></div> -->
<!-- {% post_to_facebook '' %}
    
{% send_email activity.name "New activity: {{activity.name}}. Check it out!" "" %} -->

<!-- {% endif %} -->

{% if activity.location %}
<div class="container-fluid">
  <div class="row justify-content-center">
  <div class="offset-md-2 col-md-8">
    <div id="map"></div>
  </div>
  <div class="col-md-1">
    <div id="share"></div>
  </div>
  </div>
</div>
{% else %}
<div class="row">
    <div id="share"></div>
</div>
{% endif %}

<!-- <div class="container-fluid">
  <div id="share"></div>
</div> -->

{% endblock %}

{% block javascript %}
<!-- <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a2f1bb7fce9e20013a73372&product=inline-share-buttons"></script> -->

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a435c987240088a"></script> -->
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuR6-6PfCU7wRsSRRR3DH_PseEAYvyp3k&region=AU&callback=initMap">
</script>

<script src="{% static 'js/jssocials.js' %}"></script>

<script>
  $("#share").jsSocials({
      shares: ["messenger", "facebook", "whatsapp", "sms"],
      showLabel: false,
      shareIn: "popup",
  });

  function initMap() {
  var geocoder = new google.maps.Geocoder();

  var map = new google.maps.Map(document.getElementById('map'));

  var address = $('#address').text();

  geocodeAddress(geocoder, map);

  var map_url = "https://www.google.com/maps/search/?api=1&query=";
  var full_url = map_url + address;

  $("#address").attr("href", full_url);

}

function geocodeAddress(geocoder, resultsMap) {
  var address = $('#address').text();
  // var address = 'Southern Cross Station';
  // alert(address);
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === 'OK') {
      resultsMap.setCenter(results[0].geometry.location);
      resultsMap.setZoom(14);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location
      });
    } 
    
    // else {
    //   $('#map').hide();
    // }
  });
}
</script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a435c987240088a"></script> -->

{% endblock %}
