{% extends 'base.html' %}

{% block breadcrumb %}
    <div class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></div>
	<div class="breadcrumb-item"><a href="{% url 'events' %}">Events</a></div>
    <div class="breadcrumb-item"><a href="{% url 'login' %}">Login</a></div>
{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
{% endblock %}