{% load static %}

{% for org_activity in org_activities %}
<!-- THE MODAL FOR SHARING ACTIVITY URL -->
<div class="modal fade" id="modal_{{ org_activity.id }}">
  <div class="modal-dialog">
    <div class="modal-content" style="padding-top:1rem;">
      <div class="modal-header" style="padding-top:0;padding-left:2em;">
        <h4 class="modal-title" style="font-weight:600;font-size:28px;">Share this activity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right:-3rem;margin-top:-1rem;">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="row justify-content-center mt-3">
        <div class="sharethis-inline-share-buttons" data-url="http://{{ domain }}{% url 'activity_detail' org_activity.pk %}" 
        data-title="{{ org_activity.name }}" data-description="Test" data-message="test message"></div>
        <a target="_self" class="btn btn-circle-2 ml-2" 
        href="sms:?&body=Check this out:%0D%0Ahttp://{{ domain }}{% url 'activity_detail' org_activity.pk %}"
        style="background:#ffc600;width:49px;height:49px;border-radius:100%;color:white;padding-top:11px;padding-right:5px;">
        <img src="{% static 'img/icons/sms.png' %}" style="width:28px;margin-top:-2px;margin-bottom:1px;margin-right:10px;margin-left:-2px;"></a>
        <a target="_self" class="btn btn-circle-2 ml-2" 
        href="mailto:?subject=Check%20this%20out!&body=Check this out:%0D%0Ahttp://{{ domain }}{% url 'activity_detail' org_activity.pk %}"
        style="background:grey;width:49px;height:49px;border-radius:100%;color:white;padding-top:10px;">
        <img src="{% static 'img/icons/envelope.png' %}" style="width:23px;margin-bottom:1px;"></a>
    </div>
    <div class="row mt-3 ml-3 mr-3">
    <input class="form-control text-center" type="text" id="textshow_{{ org_activity.id }}" value="http://{{ domain }}{% url 'activity_detail' org_activity.id %}">
    </div>
    <div class="row ml-3 mt-1">
    <p class="small" id="input_{{ org_activity.id }}"></p>
    </div>
  </div>
  </div>
</div>
{% endfor %}