{% load static %}

{% for org_activity in org_activities %}
<!-- <div class="swiper-slide"> -->
<div class="col-sm-4 col-12">
<div class="card hover-card">
    <a href="{% url 'activity_detail' org_activity.pk %}">
    {% if org_activity.activity_img %}
    <img class="card-img-top" src="{{ org_activity.activity_img.url }}" alt="Not Found" 
    onerror="this.onerror=null;this.src='http://via.placeholder.com/363x272?text=Image not available';" 
    style="height:272px;">
    {% else %}
    <img class="card-img-top" src="http://via.placeholder.com/363x272?text=Image not available" 
    alt="Not Found" style="height:272px;">
    {% endif %}
    </a>
    <div class="card-body no-padding">
    {% if org_activity.activity_type != 'School holidays' and org_activity.activity_type != 'Culture' %}

    {% if org_activity.activity_type == 'Sport' %}
    <p class="card-text activity-type" style="color:#484848">
    {% elif org_activity.activity_type == 'Learn' %}
    <p class="card-text activity-type" style="color:#108AA8">
    {% else %}
    <p class="card-text activity-type" style="color:#DBC604">
    {% endif %}
    {{ org_activity.activity_type|upper }} - {{ org_activity.suburb|upper }}
    
    {% else %}
    
    {% if org_activity.activity_type == 'School holidays' %}
    <p class="card-text activity-type" style="color:#585A3A">
    HOLIDAYS - {{ org_activity.suburb|upper }}
    {% else %}
    <p class="card-text activity-type" style="color:#A52A03">
    ART & CULTURE - {{ org_activity.suburb|upper }}
    {% endif %}

    {% endif %}
    <button onclick="getURL(this.id, this.value)" id="sharebutton_{{ org_activity.id }}" value="{% url 'activity_detail' org_activity.id %}" type="button" 
    class="btn btn-transparent float-right" style="margin-top:-5px;"
    data-url="#" data-toggle="button" aria-pressed="false" autocomplete="off">
    <span class="row" style="font-weight:800;">
    <img src="{% static 'img/icons/share.svg' %}" height="33"><span style="margin-top:4px;color:#484848;">&nbsp;&nbsp;Share </span></span>
    </button></p>
    <p class="card-text activity-name">{{ org_activity.name }}</p>
    <!--    Activities that only occur once -->
    {% if org_activity.term == 'Once' %}
    {% if org_activity.activity_date %}
    <p class="card-text activity-schedule">{{ org_activity.activity_date|date:'D, d M' }} - {{ org_activity.start_time|time:'g:i A' }}</p>
    {% endif %}
    {% endif %}

    <!--      Daily, weekly, fortnightly, monthly activities-->
    {% if org_activity.term != 'Once' %}
    {% if org_activity.term != 'Daily' %}
    <p class="card-text activity-schedule">Every {{ org_activity.activity_day }} - {{ org_activity.start_time|time:'g:i A' }}</p>
    {% else %}
    <p class="card-text activity-schedule">Every day - {{ org_activity.start_time|time:'g:i A' }}</p>
    {% endif %}
    {% endif %}

    <p class="card-text booking-count">{{ org_activity.bookings.count }} Registered</p>
    </div>
</div>
</div>
<!-- </div> -->

<!-- Modal for sharing URL -->
{% include 'activities/includes/modal_other_activities.html' %}

{% endfor %}