<!-- Other events and activities you may like -->
<div id="id_others" class="container-fluid mt-4 mb-0">
    <h3 class="text-center" style="margin-top:2%;margin-bottom:2%;">Other events and activities you may like</h3>
    <div class="container-fluid mt-4">
    <div class="multiple-items">
        {% for recommended_activity in recommended_activities %}
        <div class="card mr-2">
        {% if recommended_activity.activity_img %}
        <img class="card-img-top" src="{{ recommended_activity.activity_img.url }}" alt="Not Found" onerror="this.onerror=null;this.src='http://via.placeholder.com/350x200?text=Image not available';" style="object-fit:cover;height:200px;display:inline;">
        {% else %}
        <img class="card-img-top" src="http://via.placeholder.com/350x300?text=Image not available" alt="Not Found" style="object-fit: cover;display:inline;margin:auto;height:200px;">
        {% endif %}
        <div class="card-body">
            <p class="lead"><a href="{% url 'activity_detail' recommended_activity.pk %}">{{ recommended_activity.name }}</a></p>
            {% if recommended_activity.location %}<p class="card-text"> {{ recommended_activity.location }} </p>{% endif %}
            
            <!--    Activities that only occur once -->
            {% if recommended_activity.term == 'Once' %}
            {% if recommended_activity.activity_date %}
            <p class="card-text">{{ recommended_activity.activity_date|date:'D, d M Y'|upper }} - {{ recommended_activity.start_time|time:'g:i A' }}</p>
            {% endif %}
            {% endif %}
    
            <!--      Daily, weekly, fortnightly, monthly activities-->
            {% if recommended_activity.term != 'Once' %}
            {% if recommended_activity.term != 'Daily' %}
            <p class="card-text">Every {{ recommended_activity.activity_day }} - {{ recommended_activity.start_time|time:'g:i A' }}</p>
            {% else %}
            <p class="card-text">Every day from {{ recommended_activity.start_date|date:'D, d M Y' }} - {{ recommended_activity.start_time|time:'g:i A' }}</p>
            {% endif %}
            {% endif %}
        </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>