<div class="jumbotron mb-6">
    <div class="container text-center">
        <h1 class="display-4">Youth Poster</h1>
      <p class="lead">Search for events and activities in your area</p>
      <hr class="my-3">
      <form method="get" id="id_form" class="justify-content-center" novalidate>
          <div class="form-row justify-content-center">
          <div class="form-group col-sm-4">
              <label class="sr-only" for="id_name">Activity name</label>
              <input type="text" name="name" placeholder="Swimming, Dance..." maxlength="150" class="form-control mr-sm-2" id="id_name" data-toggle="tooltip" data-placement="left" title="Enter the activity name" />
          </div>
          <div class="col-sm-4">
              <label class="sr-only" for="id_location">Location</label>
              <input type="text" name="location" placeholder="Sunshine, Deer Park... " maxlength="150" class="form-control mr-sm-2 mb-2" id="id_location" data-toggle="tooltip" data-placement="left" title="Enter an adress" />
          </div>
          <div class="col-sm-1">
              <button type="submit" id="id_search" class="btn btn-success mr-sm-2 mb-2" name="search" value="search">Search</button>
          </div>
          </div>
          
          <div class="row">
              <div class="lead col-sm-12">
              <p class="lead">or search by category</p>
              </div>
          </div>
  
          <div class="justify-content-center">
              <button type="submit" name="category" value="sport" class="btn mr-2">Sport</button>
              <button type="submit" name="category" value="fun" class="btn mr-2">Fun</button>
              <button type="submit" name="category" value="culture" class="btn mr-2">Culture</button>
              <button type="submit" name="category" value="career" class="btn mr-2">Career</button>
              <button type="submit" name="category" value="learn" class="btn">Learn</button>
          </div>
    </div>
  </div>