{% extends 'base.html' %}

{% load static %}

{% block title %}{{ group_name }}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contacts/contacts.css'%}" />
<style>
    .invalid-feedback {display: inline;padding-left:0;} 
    .fa-search { 
        position: relative;;
        z-index: 1;
        left: 10px;
        top: 30px;
        color: #7B7B7B;
        cursor: pointer;
        width: 0;
    }
    label.col-form-label label {
        color:#484848;font-size:18px;font-weight:bold;
    }
    select option {
        color: #CCCCCC;
        font-weight:300;
    }

    #mobile-btns {
        display: none;
    }

    @media (max-width: 480px) {
        #email-header, #gender-header, #age-header, #language-header, #desktop-btns {
            display: none;
        }
        #email-content, #gender-content, #age-content, #language-content {
            display: none;
        }
        #mobile-btns {
            display: block;
        }
    }
    .breadcrumb {
        background-color: transparent; padding:0;
    }
    .breadcrumb, .breadcrumb-item {
        font-size: 20px; font-weight:300;
    }

    .breadcrumb-item {
        color: #999999;
    }
    .breadcrumb {
        color: #A9DFF8;
    }
    select.form-control {
        height:55px !important;
    }
    .modal-header {
        padding-top:0;
    }
    .modal-title {
        color:#484848;
    }
    .btn-neon-green {
        background: #00CC00;
        color: #FFFFFF;
        height: 72px;
        margin-top: 3em;
    }
    .btn-neon-green:hover {
        background:green;
    }
</style>
{% endblock %}

{% block breadcrumb %}
<div class="container mt-4" >
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'email_group_list' %}">{{ group_name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Youth Clients ({{ group_name }})</li>
    </ol>
</nav>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
        <h2 class="mt-3" style="font-size:36px;font-weight:bolder;color:#484848;">
        {{ group_name }}&nbsp;&nbsp;
        <a href="{% url 'download_contacts' group_pk %}">
            <img src="{% static 'img/icons/download.svg' %}" style="width:38px; margin-top:-12px;">
        </a></h2>
        </div>
    </div>
    
    <div class="row">
        <!-- <div class="col-6">
        <i class="fas fa-search"></i>
        <input type="text" name="name" placeholder="Search" style="padding-left:35px;" 
        maxlength="150" class="form-control" id="id_name"/></div> -->
        <div class="col-12 float-right">
            <a class="btn btn-green btn-lg js-create-email-member mt-4 float-right" href="#" data-url="{% url 'member_create' group_pk %}" 
            role="button" aria-haspopup="true" aria-expanded="false" style="font-weight:300;font-size:18px;">Add Contact</a></div>
    </div>
    
</div>

<div class="container" style="width:100%;margin-top:2%;overflow-x:auto;">
    <div class="mt-2">
        <table class="table" id="contact-table" style="width:100%;">
        <thead>
        <tr>
            <th style="text-align:left;">Name</th>
            <th style="text-align:right;">Mobile</th>
            <th style="text-align:right;" id="email-header">Email</th>
            <th style="text-align:right;" id="gender-header">M or F</th>
            <th style="text-align:right;" id="age-header">Age</th>
            <th style="text-align:right;" id="language-header">Languages</th>
            <th width="300px;">ACTIONS</th>
        </tr>
        </thead>
        <tbody id="contact-list">
        {% include 'contacts/includes/partial_email_contact_list.html' %}
        </tbody>
        </table>
    </div>  
</div>

<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-contact">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="modal-sms">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'contacts/js/contacts.js' %}"></script>
{% endblock %}