{% extends 'base.html' %}

{% load static %}

{% block title %} My Contacts Group {% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contacts/contacts.css'%}" />
{% endblock %}

{% block content %}
<div class="container mt-4 mb-4">
  <!-- <div class="col-12">
  <a class="btn btn-green btn-lg float-right" href="#" role="button" 
  aria-haspopup="true" aria-expanded="false">ADD CONTACTS</a></div></div> -->
  
  <div style="margin-top:10%;margin-bottom:2%;">
  <h2 style="font-weight:bold;font-size:36px;color:#484848;">Your Contact Groups</h2>
  </div>
  <!-- BUTTON TO TRIGGER THE ACTION -->
  <div class="row mt-2">
  <a class="js-create-email-group signature-green" href="#" data-url="{% url 'email_group_create' %}" role="button" 
  aria-haspopup="true" aria-expanded="false" style="font-size:18px;">
  <span><i class="fas fa-lg fa-plus-circle mr-2 ml-3"></i></span>
  Create a new contact group</a></div>
</div>

<!-- <div class="container-fluid mt-4">
  <div id="accordion" class="row justify-content-center" role="tablist">
    <div class="card" style="width: 95%;">
      <div id="group">
      {% include 'contacts/includes/partial_email_group_list.html' %}
      </div>
    </div>
  </div>
</div> -->

<div class="container" style="margin-top:2%;overflow-x:auto;width:100%;">
  <div id="group" class="mt-4">
  {% include 'contacts/includes/partial_email_group_list.html' %}
  </div>
</div>

<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-group">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'contacts/js/contacts.js' %}"></script>
{% endblock %}