{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid mt-4">
    <!-- BUTTON TO TRIGGER THE ACTION -->
    <a class="btn btn-primary js-create-email-member" href="#" data-url="{% url 'email_member_create' %}" role="button" aria-haspopup="true" aria-expanded="false">
        New contact
    </a>
</div>

<div class="container-fluid mt-4">
    <table class="table" id="contact-table">
        <thead>
        <tr>
            <th>Group</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% include 'contacts/includes/partial_email_contact_list.html' %}
        </tbody>
    </table>   
</div>

<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-contact">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'contacts/js/contacts.js' %}"></script>
{% endblock %}